<!doctype HTML>
<html>
  <head> <title> {{title}}</title>
    <link rel="stylesheet" href="static/styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pangolin" rel="stylesheet">
  </head>
  <body>
    <h1>Happy Todos:</h1>
    {{{body}}}
  </body>
</html>
