<!doctype HTML>
<html>
  <head> <title> {{title}}</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <h1 style="text-align: center;">My Todos:</h1>
    {{{body}}}
  </body>
</html>
