<form style="color: purple; text-align: center;" action="/add_todo" method="POST">
  <label>New task:</label>&nbsp;<input type="text" name="description">
</form>
<div class='center-horizontal'>
  <form method="POST" action="/delete">
    <ul>
      {{#each todos}}
      <li>
         {{description}} <input type="checkbox" name="task" value="{{id}}"></li>
      {{/each}}
    </ul>
    <div style="display: inline-block;">
      <button class='roundbutton' type="submit" value="Delete">Delete</button>
      <button class='roundbutton2'type="submit" value="Save">Save</button>
      <button class="roundbutton3" type="submit" value="Print">Print</button>
    </div>
  </form>
</div>
<img src="static/images/teacup.png">
